pep_ssl_server_capath /etc/grid-security/certificates/
pep_ssl_client_cert /etc/grid-security/condorcert.pem
pep_ssl_client_key /etc/grid-security/condorkey.pem
pep_url https://{{ grid_htc_ce_argus_server }}:{{ grid_htc_ce_argus_port }}/authz
pep_timeout 30 # seconds
xacml_resourceid {{ grid_htc_ce_argus_resourceid }}
