# SLURM routes for cms and grid partitions
JOB_ROUTER_ENTRIES @=jre
[
    GridResource = "batch slurm";
    TargetUniverse = 9;
    name = "CMS jobs";
    Requirements = regexp("\/cms", TARGET.x509UserProxyFirstFQAN);
    set_default_queue = "cms";
]
[
    GridResource = "batch slurm";
    TargetUniverse = 9;
    name = "GROD jobs";
    set_default_queue = "grid";
]
@jre
